:root {
  /*Using colour scheme https://color.adobe.com/TD-Colors---Option-3-color-theme-10394433/*/
  --colour1: #2b3a42;
  --colour2: #3f5765;
  --colour3: #bdd4de;
  --colour4: #efefef;
  --colour5: #ff5035;

  --bg1: rgba(43, 58, 66, 0.3);

  --buttonFont: Helvetica;
  --inputFont: Helvetica;
}

cve-debug {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  display: block;
  pointer-events: none;
  z-index: 10;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  position: absolute;
}

#cve-player-debug-panel {
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -khtml-border-bottom-right-radius: 5px; /* for old Konqueror browsers */
  -khtml-border-bottom-left-radius: 5px; /* for old Konqueror browsers */
  border-bottom-right-radius: 5px; /* future proofing */
  border-bottom-left-radius: 5px; /* future proofing */

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

  position: absolute;
  pointer-events: all;
  padding: 4px;
  top: 0;
  right: .6em;
  z-index: 100;
  border: 2px solid var(--colour4);
  border-top-width: 0px;
}

.stats {
  font-size: 14px;
  font-weight: bold;
  padding: 6px;
  color: lime;
}

.overlay {
  background-color: var(--bg1);
  backdrop-filter: blur(4px);
  color: var(--colour4);
  font-family: var(--buttonFont);
  font-weight: lighter;
}

.overlay-collapse {
  visibility: collapse;
}

.overlay-shown > #overlay-settings {
  padding: 50px 4px 4px 4px;
  display: block;
}

.overlay-shown > div > #overlay-button {
  -webkit-transform: rotate(-135deg); /* Safari */
  -moz-transform: rotate(-135deg); /* Firefox */
  -ms-transform: rotate(-135deg); /* IE */
  -o-transform: rotate(-135deg); /* Opera */
  transform: rotate(-135deg);
}

#overlay-button:hover {
  cursor: pointer;
}

#overlay-button {
  transition-duration: 250ms;
  float: right;
  text-align: right;
  font-size: 40px;
}

#quality-status {
  float: left;
  font-size: 37px;
  padding-right: 4px;
}

#overlay-settings {
  width: 400px;
  display: none;
}

.grey-status {
  color: grey;
}

.lime-status {
  color: lime;
}

.orange-status {
  color: orange;
}

.red-status {
  color: red;
}

#video-message-overlay {
  z-index: 20;
  color: var(--colour4);
  font-size: 1.8em;
  position: absolute;
  margin: auto;
  font-family: var(--inputFont);
  width: 100%;
}

#video-play-overlay {
  z-index: 30;
  position: absolute;
  color: var(--colour4);
  font-size: 1.8em;
  font-family: var(--inputFont);
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.7);
}

/* State for element to be clickable */
.clickable-state {
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

/* State for element to show text, this is for informational use*/
.text-display-state {
  display: flex;
}

/* State to hide overlay, WebRTC communication is in progress and or is playing */
.hidden-state {
  display: none;
}

#play-button {
  display: inline-block;
  height: auto;
}

img#play-button {
  max-width: 241px;
  width: 10%;
}

#ui-interaction {
  position: fixed;
}

#ui-interaction-button-boundary {
  padding: 2px;
}

#ui-interaction-button {
  cursor: pointer;
}

#hidden-input {
  position: absolute;
  left: -10%; /* Although invisible, push off-screen to prevent user interaction. */
  width: 0px;
  opacity: 0;
}

#edit-text-button {
  position: absolute;
  height: 40px;
  width: 40px;
}

.settings-text {
  color: var(--colour4);
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}

.overlay-button {
  line-height: 1.1;
  padding: 1px 6px;
}

.btn-overlay {
  float: right;
  /* vertical-align: middle;
  display: inline-block; */
}

.btn-flat {
  background: var(--colour4);
  border: 2px solid var(--colour5);
  font-weight: bold;
  cursor: pointer;
  font-family: var(--buttonFont);
  font-size: 10px;
  color: var(--colour5);
  border-radius: 5px;
  height: 20px;
}

.btn-flat:disabled {
  background: var(--colour4);
  border-color: var(--colour3);
  color: var(--colour3);
  cursor: default;
}

.btn-flat:active {
  border-color: var(--colour2);
  color: var(--colour2);
}

.btn-flat:focus {
  outline: none;
}
/*** Toggle Switch styles ***/
.tgl-switch {
  float: right;
  /* vertical-align: middle; */
  /* display: inline-block; */
}

.tgl-switch .tgl {
  display: none;
}

.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-slider {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-slider::-moz-selection {
  background: none;
}
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-slider::selection {
  background: none;
}

.tgl-slider {
  float: right;
}

.tgl + .tgl-slider {
  outline: 0;
  display: block;
  width: 40px;
  height: 18px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tgl + .tgl-slider:after,
.tgl + .tgl-slider:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-slider:after {
  left: 0;
}
.tgl + .tgl-slider:before {
  display: none;
}

.tgl-flat + .tgl-slider {
  padding: 2px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #fff;
  border: 3px solid var(--colour4);
  border-radius: 2em;
}

.tgl-flat + .tgl-slider:after {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: var(--colour4);
  content: "";
  border-radius: 1em;
}

.tgl-flat:checked + .tgl-slider {
  border: 3px solid var(--colour5);
}

.tgl-flat:checked + .tgl-slider:after {
  left: 50%;
  background: var(--colour5);
}
/*** Toggle Switch styles ***/

#encoder-settings,
#webrtc-settings {
  margin: 10px 0px;
}

#encoder-params-container,
#webrtc-params-container {
  padding-left: 5%;
}

#encoder-params-submit {
  float: right;
}

#webrtc-params-submit {
  float: right;
}

select {
  text-align: right;
}

input {
  text-align: left;
}

.form-group {
  display: grid;
  grid-template-columns: 50% 50%;
}

.form-group label {
  color: var(--colour4);
  vertical-align: middle;
  font-size: 14px;
  font-weight: normal;
}

#latency-test {
  display: block;
}

#latency-test button {
  margin: 30px 0px;
}

#freeze-frame-overlay {
  background-color: transparent;
}

.freezeframe-background {
  background-color: #000 !important;
}