debug-console {
  color: var(--colour4);
  display: block;
  font-family: var(--inputFont);
  font-size: .8em;
  inset: 0;
  padding: 0.4em;
  position: fixed;
  pointer-events: none;
  z-index: 9;
}
